.table {
  $root: table;
  width: 100%;
  &--type1 {
    + .heading {
      margin-top: rem(80);
    }

    + .c-title {
      margin-top: rem(80);
    }

    @at-root .heading {
      + .table {
        margin-top: rem(20);
      }
    }

    @at-root .c-title {
      + .table {
        margin-top: rem(20);
      }
    }
    text-align: center;
    font-size: rem(16);
    border-top: rem(2) solid color(dark, 100);
    tr {
      th,
      td {
        padding: rem(22 20);
        border: rem(1) solid color(gray, 1200);

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }

      th {
        font-weight: bold;
      }
    }
  }

  &--type2 {
    tbody {
      th {
        padding: rem(0 20 96 0);
        color: #222222;
        font-size: rem(28);
        font-weight: 700;
        vertical-align: top;
        text-align: left;
      }
      td {
        padding: rem(4 0 96);
      }
      tr:last-child {
        td {
          padding-bottom: 0;
        }
      }
    }

    .text-list {
      &.text-list--md {
        & + .text-list--md {
          margin: rem(60 0 0 0);
        }
      }
    }
  }

  &--fixed {
    tr {
      th,
      td {
        border-right: 0;
        border-left: 0;
      }
    }
    thead {
      tr {
        th,
        td {
          height: rem(64);
          padding: rem(0 20);
        }
      }
    }

    tbody {
      th {
        padding: rem(0 20);
        color: #222222;
        font-size: rem(28);
        font-weight: 700;
        vertical-align: top;
        text-align: left;
        height: rem(64);
        @include text-truncate;
      }
      td {
        height: rem(54);
        padding: rem(0 20);
        @include text-truncate;
      }
      tr:last-child {
        td {
          padding-bottom: 0;
        }
      }
    }
  }

  &--bd-none {
    tr td,
    tr th {
      border: 0;
    }

    tr {
      &:last-child {
        td,
        th {
          border-bottom: rem(1) solid color(gray, 1200);
        }
      }
    }
  }
}
