// COMMONET:변수선언
//default size
$font-base: 10 !default;

//colors
$white: #fff;
$colors: (
  primary: (
    50: #ff7c56,
    100: #ff5b2c,
    200: #f1754e,
  ),
  dark: (
    50: #666,
    100: #222,

    300: #333,
    400: #444,
  ),

  white: (
    100: #e8e8e8,
    200: #efefef,
  ),
  sub: (
    100: #5d2dfc,
    200: #e53aa9,
    300: #00ddb8,
    400: #89dd00,
    500: #29c9d2,
    600: #ffd1c0,
    700: #5f30fc,
    800: #ff0000,
    900: #f7f1ef,
    1000: #819eff,
    1100: #fae7dd,
    1200: #f1c8b9,
    1300: #faf6ec,
  ),
  yellow: (
    100: #ffe403,
  ),
  brown: (
    100: #3d2222,
  ),
  gray: (
    50: #ddd,
    100: #666,
    200: #999,
    300: #bbb,
    400: #ccc,
    600: #f5f5f5,
    700: #d9d9d9,
    800: #f8f8f8,
    900: #e2e2e2,
    1000: #929292,
    1100: #eee,
    1200: #e7e7e7,
    1300: #bebebe,
    1400: #dedede,
  ),
);

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: color($color, $shade) !important;
    }

    .bg-#{$color}-#{$shade} {
      background-color: color($color, $shade) !important;
    }
  }
}

//icon
$icon-url: '../images/icon/';
$com-url: '../images/com/';

// spacers
$spacer: rem(4) !default;
$spacers: (
  0: 0,
  1: $spacer * 2,
  2: $spacer * 4,
  3: $spacer * 6,
  4: $spacer * 8,
  5: $spacer * 10,
  6: $spacer * 12,
  7: $spacer * 14,
  8: $spacer * 16,
  9: $spacer * 18,
  10: $spacer * 20,
) !default;

$font-size: (
  0: 0,
  1: rem(12),
  2: rem(14),
  3: rem(16),
  4: rem(18),
  5: rem(20),
  6: rem(22),
  7: rem(24),
  8: rem(26),
  9: rem(28),
  10: rem(30),
) !default;

$line-height: (
  0: 0,
  1: rem(12),
  2: rem(14),
  3: rem(16),
  4: rem(18),
  5: rem(20),
  6: rem(22),
  7: rem(24),
  8: rem(26),
  9: rem(28),
  10: rem(30),
) !default;
// Options
//
// 선택적 기능을 활성화 또는 비활성화하여 전역 스타일을 빠르게 수정합니다.
$enable-negative-margins: true !default;
$enable-important-utilities: true !default;
$enable-rounded: true !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-gradients: false !default;
$enable-shadows: false !default;

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;
