[data-autoset='accordion'] {
  .expand:not(.expanded) {
    display: none;
  }
  .expanding {
    height: 0;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  }
  [data-toggle='con'].expanded {
    display: block;
  }
  // 삭제하지마세요!! // data-motion 속성에 영향받지 않고 애니메이션은 없는 컨텐츠
}

.accordion {
  $root: accordion;

  //default styled
  &__head {
    position: relative;
  }

  &__btn {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  &__list {
    //
  }

  &__content {
    //
  }

  &__title {
    //
  }

  //accordion--type1 styled
  &.#{$root}--type1 {
    .#{$root}__list:first-child .label-group {
      padding: rem(20);
    }

    .#{$root}__list:last-child .label-group {
      border-bottom: rem(1) solid color(gray, 600);
    }

    .#{$root}__head {
      display: flex;
      align-items: center;
      padding: rem(19 60 20 20);
      border-bottom: rem(1) solid color(gray, 100);
    }

    .#{$root}__title {
      display: flex;
      align-items: center;
      font-weight: bold;
      > .icon {
        position: relative;
      }
    }

    .#{$root}__text {
      font-weight: bold;
      margin-left: rem(9);
      font-size: rem(15);
    }

    .#{$root}__btn {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &:after {
        content: '';
        position: absolute;
        right: rem(20);
        top: calc(50% - #{rem(8)});
        width: rem(16);
        height: rem(16);
        background: url(#{$icon-url}icon-acc-arrow.svg) no-repeat;
        background-size: 100% auto;
        transition: all 0.2s ease;
        transform: rotate(-180deg);
      }

      &[aria-expanded='true'] {
        &:after {
          content: '';
          transform: rotate(0deg);
          background: url(#{$icon-url}icon-acc-arrow.svg) no-repeat;
          background-size: 100% auto;
        }
      }
    }

    .#{$root}__content {
      background-color: color(white, 500);
    }
  }

  //accordion--type2 styled
  &.#{$root}--type2 {
    width: 100%;
    .#{$root}__title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .#{$root}__price {
        display: block;
      }
    }

    .#{$root}__info {
      display: flex;
      align-items: center;
      .icon--acc-arrow2 {
        margin-left: rem(4);
      }
    }

    .#{$root}__btn {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .text-info__item {
      margin-top: rem(8);
      > ul {
        > li {
          display: block;
          justify-content: space-between;
          align-items: center;
          margin-top: rem(0);
          @include clearfix;
          font-size: 0;
          height: rem(20);

          span:first-child {
            display: inline-block;
            vertical-align: top;
            width: 50%;
          }
          span:last-child {
            display: inline-block;
            vertical-align: top;
            text-align: right;
            width: 50%;
            margin-top: 0;
            padding-left: 0;
          }
        }
      }
    }
  }

  &.#{$root}--type3 {
    @at-root {
      .stamp-event ~ .#{$root}--type3 {
        margin: rem(42 -20 0);
      }
    }
    .#{$root}__head {
      display: flex;
      align-items: center;
      padding: rem(19 20 17);
      border-top: rem(1) solid color(gray, 600);
      border-bottom: rem(1) solid color(gray, 600);
    }

    .#{$root}__text {
      font-size: rem(12);
      line-height: rem(14);
      font-weight: bold;
    }

    .#{$root}__content {
      background-color: color(white, 500);
    }

    .#{$root}__btn {
      &:after {
        content: '';
        width: rem(16);
        height: rem(16);
        position: absolute;
        top: calc(50% - #{rem(8)});
        right: rem(20);
        background: url(#{$icon-url}icon-acc-arrow.svg) no-repeat;
        background-size: 100% auto;
      }
    }
  }
}
